# Secrets and Config
local.settings.json
.env

data/

archive/

# Environments and Caches
.venv/
venv/
__pycache__/
f1_cache/
cache/
model_weights/

# OS/IDE files
.DS_Store
.vscode/
*.csv
*.json
*.log

team_radio/
.claude/
.python_packages

cache/*
!cache/.gitkeep
